In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_df = pd.read_csv("../input/titanic/train.csv")
test_df = pd.read_csv("../input/titanic/test.csv")

# Understanding Data

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
test_df.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [6]:
test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [7]:
print(f"Train Data Shape: {train_df.shape}")
print(f"Test Data Shape: {test_df.shape}")

Train Data Shape: (891, 12)
Test Data Shape: (418, 11)

# Data Cleaning

In [8]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
train_df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [10]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
test_df.nunique()

PassengerId    418
Pclass           3
Name           418
Sex              2
Age             79
SibSp            7
Parch            8
Ticket         363
Fare           169
Cabin           76
Embarked         3
dtype: int64

In [12]:
import statistics
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].apply(lambda x: train_df["Age"].mean() if pd.isnull(x) else x))
train_df["Embarked"] = train_df["Embarked"].fillna(test_df["Embarked"].apply(lambda x: statistics.mode(train_df.Embarked) if pd.isnull(x) else x))

In [13]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         1
dtype: int64

In [14]:
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].apply(lambda x: train_df["Age"].mean() if pd.isnull(x) else x))
test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].apply(lambda x: test_df.Fare.median() if pd.isnull(x) else x))

In [15]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64


# Splitting Data

In [16]:
X = train_df.drop(["PassengerId", "Name", "Cabin", "Survived", "Ticket", "Embarked"], axis=1)
y = train_df.Survived
test = test_df.drop(["PassengerId", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
X

     Pclass     Sex        Age  SibSp  Parch     Fare
0         3    male  22.000000      1      0   7.2500
1         1  female  38.000000      1      0  71.2833
2         3  female  26.000000      0      0   7.9250
3         1  female  35.000000      1      0  53.1000
4         3    male  35.000000      0      0   8.0500
..      ...     ...        ...    ...    ...      ...
886       2    male  27.000000      0      0  13.0000
887       1  female  19.000000      0      0  30.0000
888       3  female  29.699118      1      2  23.4500
889       1    male  26.000000      0      0  30.0000
890       3    male  32.000000      0      0   7.7500

[891 rows x 6 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# Data Preprocessing

In [18]:
from sklearn.preprocessing import LabelEncoder,StandardScaler, normalize, MinMaxScaler, OneHotEncoder

In [19]:
encoder = LabelEncoder()
for i in ["Sex"]:
    X_train[i] = encoder.fit_transform(X_train[i])
    X_test[i] = encoder.fit_transform(X_test[i])
    test[i] = encoder.fit_transform(test[i])

In [20]:
sc = StandardScaler()
n = ["Pclass", "Age","SibSp","Parch"]
X_train[n] = sc.fit_transform(X_train[n])
X_test[n] = sc.fit_transform(X_test[n])
test[n] = sc.fit_transform(test[n])

In [21]:
X_train = normalize(X_train)
X_test = normalize(X_test)

# Modeling

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier

model_LR = LogisticRegression()
model_KNN = KNeighborsClassifier(n_neighbors=2)
model_SVM = SVC(kernel='linear',C=1)
model_CB = CatBoostClassifier(verbose=False)
model_RF = RandomForestClassifier(n_estimators= 100,
                                  min_samples_leaf = 9,
                                  max_depth=7,
                                  bootstrap= False)

In [23]:
for model in [model_LR, model_KNN, model_SVM, model_CB, model_RF]:
    model.fit(X_train, y_train)
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    pred_train_df = accuracy_score(y_train, y_pred_train)
    pred_test_df = accuracy_score(y_test, y_pred_test)
    
    print(f"model: {model}\nTrain Accuracy: {pred_train_df}\nTest Accuracy: {pred_test_df}\n\n")

model: LogisticRegression()
Train Accuracy: 0.6340288924558587
Test Accuracy: 0.6567164179104478


model: KNeighborsClassifier(n_neighbors=2)
Train Accuracy: 0.8892455858747994
Test Accuracy: 0.7761194029850746


model: SVC(C=1, kernel='linear')
Train Accuracy: 0.6115569823434992
Test Accuracy: 0.6268656716417911


model: <catboost.core.CatBoostClassifier object at 0x7b92ba12b810>
Train Accuracy: 0.9052969502407705
Test Accuracy: 0.8246268656716418


model: RandomForestClassifier(bootstrap=False, max_depth=7, min_samples_leaf=9)
Train Accuracy: 0.8828250401284109
Test Accuracy: 0.835820895522388

# Submission

In [24]:
pred_test = model_RF.predict(test)
final = pd.DataFrame({"PassengerID": test_df.PassengerId, "Survived": pred_test})
final.to_csv("submission.csv", index=False)

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:444: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [25]:
final

     PassengerID  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]